<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="BackupFolder" value="C:\Users\pipo\Apple\MobileSync\Backup\896a4c14241c39ea05b031385348d7d1fbf1f337" />    
    <add key="DestinationFolder" value="c:\temp\Dest" />
    <add key="FindFileExtensions" value=".jpg,.png,.mp4,.mov" />
  </appSettings>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  
</configuration>